<!doctype html>
<app-m-admin-menu></app-m-admin-menu>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <app-m-admin-sub-menu></app-m-admin-sub-menu>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">CAMBIO DE CONTRASEÑA</h1>
            </div>
            <form class="needs-validacion" noValidate>
                <div class="row">
                    <div class="col-md-6 mb3">
                        <label for="pass">Ingrese contraseña</label>
                        <input type="text" class="form-control" name="pass" id="pass">
                    </div>
                    <div class="col-md-6 mb3">
                        <label for="rpass">Reingrese contraseña</label>
                        <input type="text" class="form-control" name="rpass" id="rpass">
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-xs btn-outline-info" type="submit">CAMBIAR</button> &nbsp;
                <button class="btn btn-xs btn-outline-danger" [routerLink]="[ '/admin/dashboard']" href="">CANCELAR</button>
            </form>
        </main>
    </div>
</div>