<!doctype html>
<app-m-admin-menu></app-m-admin-menu>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <app-m-admin-sub-menu></app-m-admin-sub-menu>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">MI PERFIL</h1>
            </div>
            <form class="needs-validacion" novalidate>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="dni">Dni</label>
                        <input type="text" class="form-control" name="dni" id="dni" value="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="Nombres">Nombres Completos</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" value="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="apellido">Apellido Completos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellido" value="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Correo Electronico</label>
                        <input type="text" class="form-control" name="email" id="email">
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-xs btn-outline-info" (click)="">ACTUALIZAR</button> &nbsp;
                <button [routerLink]="[ '/admin/dashboard']" href="" class="btn btn-outline-danger btn-xs">CANCELAR</button>
            </form>
        </main>
    </div>
</div>